.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 483px;
  min-height: 318px;
  height: auto;
  margin: 294px auto 60px;
}

.u-section-1 .u-image-1 {
  width: 327px;
  height: 184px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  width: 483px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 12px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 28px auto 0;
  padding: 8px 33px;
}

.u-section-1 .embed-responsive-1 {
  height: 1671%;
  width: 100%;
  left: 0%;
  top: -786%;
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    height: 1280%;
    top: -590%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    height: 960%;
    top: -430%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 604%;
    top: -252%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 350px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.u-section-2 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 310px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 3px;
}

.u-section-2 .u-image-1 {
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  width: 100%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 10px;
}

.u-section-2 .u-text-1 {
  font-size: 1.375rem;
  margin: 13px -13px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 15px 10px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 3px;
}

.u-section-2 .u-image-2 {
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  width: 100%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.375rem;
  margin: 13px -13px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 15px 10px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 3px;
}

.u-section-2 .u-image-3 {
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  width: 100%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.375rem;
  margin: 13px -13px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 15px 10px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 3px;
}

.u-section-2 .u-image-4 {
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  width: 100%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 10px;
}

.u-section-2 .u-text-7 {
  font-size: 1.375rem;
  margin: 13px -13px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 15px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 256px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 784px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/Untitleddesign.png');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 350px;
}

.u-section-3 .u-group-elements-1 {
  width: 956px;
  min-height: 184px;
  margin: 60px auto;
}

.u-section-3 .u-text-1 {
  margin: 0 0 0 432px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 12px;
  background-image: none;
  margin: 23px auto 0 574px;
  padding: 8px 33px;
}

.u-section-3 .u-image-1 {
  width: 327px;
  height: 184px;
  margin: -175px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 385px;
    margin-left: 47px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 527px;
  }

  .u-section-3 .u-image-1 {
    margin-right: -47px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 295px;
    margin-left: 137px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 437px;
  }

  .u-section-3 .u-image-1 {
    margin-right: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 195px;
    margin-left: 145px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 337px;
  }

  .u-section-3 .u-image-1 {
    margin-right: -237px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
} .u-section-4 {
  --color-var: #f8f8ff;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-4 .u-image-1 {
  min-height: 315px;
  background-image: url("images/491338572_1218366236966254_5996821858929029045_n.jpg");
  background-position: 50% 57.6%;
  background-size: cover;
  --radius: 12px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-family: Conthrax-SemiBold;
  margin: 24px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 12px;
  margin: 20px auto 0 0;
  padding: 8px 33px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-family: Conthrax-SemiBold;
  margin: 28px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 330px;
  background-image: url("images/493322962_1230190855783792_7603140432596339675_n1.jpg");
  background-position: 50% 0%;
  background-size: cover;
  --radius: 12px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-4 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/Untitleddesign.png');
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-group-elements-1 {
  width: 1059px;
  min-height: 326px;
  height: auto;
  margin: 37px auto;
}

.u-section-5 .u-map-1 {
  width: 570px;
  height: 326px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: -274px 0 0 613px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 12px;
  background-image: none;
  margin: 27px auto 52px 698px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-5 .u-map-1 {
    margin-left: -17px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 17px;
    margin-left: 596px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-5 .u-map-1 {
    margin-left: -127px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 127px;
    margin-left: 486px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 572px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-5 .u-map-1 {
    margin-left: -217px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 144px;
    margin-left: 396px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 482px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-5 .u-map-1 {
    margin-left: -317px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 44px;
    margin-left: 296px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 382px;
  }
}

.u-section-5 .u-map-1,
.u-section-5 .u-map-1:before,
.u-section-5 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-map-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 4px !important;
}

.u-section-5 .u-map-1.u-map-1.u-map-1:hover {
  border-color: #c3dc00 !important;
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  opacity: 0.9 !important;
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-5 .u-map-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 4px !important;
}

.u-section-5 .u-map-1.u-map-1.u-map-1.hover {
  border-color: #c3dc00 !important;
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  opacity: 0.9 !important;
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}.u-section-6 .u-sheet-1 {
  min-height: 617px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-family: Conthrax-SemiBold;
  margin: 29px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-6 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 513px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 91px;
}

.u-section-6 .u-image-1 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 31px 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 91px;
}

.u-section-6 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px 31px 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 91px;
}

.u-section-6 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 20px 31px 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 91px;
}

.u-section-6 .u-image-4 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 20px 31px 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
  top: 237px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 237px;
  right: -40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 336px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 66px;
    margin-bottom: -203px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-gap: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 177px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 177px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    height: 177px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    height: 177px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 210px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-2 {
    height: 210px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-3 {
    height: 210px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-4 {
    height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 260px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 99px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 364px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 364px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 364px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 342px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 72px;
    margin-bottom: -203px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 224px;
  }

  .u-section-6 .u-image-2 {
    height: 224px;
  }

  .u-section-6 .u-image-3 {
    height: 224px;
  }

  .u-section-6 .u-image-4 {
    height: 224px;
  }
}@font-face {
  font-family: 'Conthrax-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Conthrax-SemiBold.otf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Conthrax-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Conthrax-SemiBold.otf);
}